body {
    background: rgb(54, 167, 241);
 }

div#education.resume {
    background:rgb(255, 255, 255);
    text-align: center;   
}
div#experience.resume{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
